USE [gestion_personne]
GO
/****** Object:  Table [dbo].[adresse]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adresse](
	[id] [int] NOT NULL,
	[quartier] [varchar](50) NULL,
	[commune] [varchar](50) NULL,
	[ville] [varchar](50) NULL,
	[pays] [varchar](50) NOT NULL,
 CONSTRAINT [pk_adresse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[domicile]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[domicile](
	[id] [int] NOT NULL,
	[id_personne] [int] NOT NULL,
	[id_adresse] [int] NOT NULL,
	[avenue] [varchar](50) NULL,
	[numero_avenue] [int] NULL,
 CONSTRAINT [pk_domicile] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personne]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personne](
	[id] [int] NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[postnom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[sexe] [varchar](1) NOT NULL,
 CONSTRAINT [pk_personne] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uk_personne] UNIQUE NONCLUSTERED 
(
	[nom] ASC,
	[postnom] ASC,
	[prenom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telephone]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telephone](
	[id] [int] NOT NULL,
	[id_proprietaire] [int] NOT NULL,
	[initial] [varchar](4) NOT NULL,
	[numero] [varchar](9) NOT NULL,
 CONSTRAINT [pk_telephone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[id] [int] NOT NULL,
	[nom_user] [varchar](100) NOT NULL,
	[mot_de_passe] [varchar](100) NOT NULL,
 CONSTRAINT [pk_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personne] ADD  DEFAULT ('M') FOR [sexe]
GO
ALTER TABLE [dbo].[domicile]  WITH CHECK ADD  CONSTRAINT [fk_addresse_domicile] FOREIGN KEY([id_adresse])
REFERENCES [dbo].[adresse] ([id])
GO
ALTER TABLE [dbo].[domicile] CHECK CONSTRAINT [fk_addresse_domicile]
GO
ALTER TABLE [dbo].[domicile]  WITH CHECK ADD  CONSTRAINT [fk_personne_domicile] FOREIGN KEY([id_personne])
REFERENCES [dbo].[personne] ([id])
GO
ALTER TABLE [dbo].[domicile] CHECK CONSTRAINT [fk_personne_domicile]
GO
ALTER TABLE [dbo].[telephone]  WITH CHECK ADD  CONSTRAINT [fk_personne_telephone] FOREIGN KEY([id_proprietaire])
REFERENCES [dbo].[personne] ([id])
GO
ALTER TABLE [dbo].[telephone] CHECK CONSTRAINT [fk_personne_telephone]
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_adresse]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Delete adresse
create procedure [dbo].[sp_delete_adresse]
	@id int
as
begin
	if exists(select * from adresse where id=@id)
		delete from adresse where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_domicile]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Delete domicile
create procedure [dbo].[sp_delete_domicile]
	@id int
as
begin
	if exists(select * from domicile where id=@id)
		delete from domicile where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_personne]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Delete personne
create procedure [dbo].[sp_delete_personne]
	@id int
as
begin
	if exists(select * from personne where id=@id)
		delete from personne where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_telephone]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Delete telephone
create procedure [dbo].[sp_delete_telephone]
	@id int
as
begin
	if exists(select * from telephone where id=@id)
		delete from telephone where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_utilisateur]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Delete utilisateur
create procedure [dbo].[sp_delete_utilisateur]
	@id int
as
begin
	if exists(select * from utilisateur where id=@id)
		delete from utilisateur where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_adresse]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--inseert et update adresse
CREATE procedure [dbo].[sp_insert_adresse]
	@id int,@quartier varchar(50),@commune varchar(50),
	@ville varchar(50),@pays varchar(50)
as
begin
	if not exists(select * from adresse where id=@id)
		insert into adresse(id,quartier,commune,ville,pays) values 
		(@id,@quartier,@commune,@ville,@pays)
	else
		update adresse set quartier=@quartier,commune=@commune,ville=@ville,
		pays=@pays where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_domicile]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--inseert et update domicile
create procedure [dbo].[sp_insert_domicile]
	@id int,@id_personne int,@id_adresse int,
	@avenue varchar(50),@numero_avenue int
as
begin
	if not exists(select * from domicile where id=@id)
		insert into domicile(id,id_personne,id_adresse,avenue,numero_avenue) values 
		(@id,@id_personne,@id_adresse,@avenue,@numero_avenue)
	else
		update domicile set @id_personne=@id_personne,id_adresse=@id_adresse,avenue=@avenue,
		numero_avenue=@numero_avenue where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_personne]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Insert or Update personne
create procedure [dbo].[sp_insert_personne]
	@id int,@nom varchar(50),@postnom varchar(50),
	@prenom varchar(50),@sexe varchar(1)
as
begin
	if not exists(select * from personne where id=@id)
		insert into personne(id,nom,postnom,prenom,sexe) values 
		(@id,@nom,@postnom,@prenom,@sexe)
	else
		update personne set nom=@nom,postnom=@postnom,prenom=@prenom,
		sexe=@sexe where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_telephone]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Insert or Update telephone
create procedure [dbo].[sp_insert_telephone]
	@id int,@id_proprietaire int,@initial varchar(4),
	@numero varchar(9)
as
begin
	if not exists(select * from telephone where id=@id)
		insert into telephone(id,id_proprietaire,initial,numero) values 
		(@id,@id_proprietaire,@initial,@numero)
	else
		update telephone set id_proprietaire=@id_proprietaire,
		initial=@initial,numero=@numero where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_utilisateur]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Insert or Update Utilisateur
create procedure [dbo].[sp_insert_utilisateur]
	@id int,@nom_user varchar(50),@mot_de_passe varchar(50)
	
as
begin
	if not exists(select * from utilisateur where id=@id)
		insert into utilisateur(id,nom_user,mot_de_passe) values 
		(@id,@nom_user,@mot_de_passe)
	else
		update utilisateur set nom_user=@nom_user,mot_de_passe=@mot_de_passe where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_liste_personneDomicile]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_liste_personneDomicile]
as
begin
	select p.id,p.nom + ' ' + ISNULL(p.postnom,'') + ' ' + ISNULL(p.prenom,'') as nom,
	ISNULL(''+a.ville,'')+' '+ISNULL(',C.'+a.commune,'')+' '+ISNULL('Q.'+a.quartier,'')
	+' '+ISNULL('Av.'+d.avenue,'')+' '+ISNULL('N°'+CONVERT(varchar, d.numero_avenue),'') 
	as adresse from domicile d
	right join personne p on d.id_personne=p.id
	left join adresse a on d.id_adresse=a.id
	ORDER BY p.id	

end

GO
/****** Object:  StoredProcedure [dbo].[sp_liste_personnes]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Stored Procedure for report of persons
create procedure [dbo].[sp_liste_personnes]
as
begin
	select personne.id,personne.nom + ' ' + ISNULL(personne.postnom,'') + ' ' + ISNULL(personne.prenom,'') as nom,
	personne.sexe,telephone.id as idtel,telephone.initial + telephone.numero as numero
	from personne
	left outer join telephone 
	on personne.id=telephone.id_proprietaire
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_adresse]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select one adresse
create procedure [dbo].[sp_select_adresse]
	@id int
as
begin
	select id,quartier,commune,ville,pays from adresse 
	where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_adresses]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select all adresse
create procedure [dbo].[sp_select_adresses]
as
begin 
	select id,quartier,commune,ville,pays from adresse order by pays asc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_domiciles]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_select_domiciles]
as
begin 
	select id,id_adresse,id_personne,avenue,numero_avenue from domicile 
	order by id asc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_personne]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select one personne
create procedure [dbo].[sp_select_personne]
	@id int
as
begin
	select id,nom,postnom,prenom,sexe from personne 
	where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_personnes]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select all personne
CREATE procedure [dbo].[sp_select_personnes]
as
begin 
	select id,nom,postnom,prenom,sexe from personne order by id asc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_telephone]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_select_telephone]
	@id int
as
begin
	select p.nom + ' ' + ISNULL(p.postnom,'') + ' ' + ISNULL(p.prenom,'') as nom,id_proprietaire,initial,numero
	from telephone t inner join personne p on t.id_proprietaire=p.id
	where t.id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_telephones]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select all telephone
CREATE procedure [dbo].[sp_select_telephones]
as
begin
	select id,id_proprietaire,initial,numero from telephone order by id asc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_telephones_personne]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_select_telephones_personne]
	@id_personne int	
as
begin
	select t.id,p.nom+' '+p.postnom+' '+p.prenom as nom,id_proprietaire,initial,numero
	from telephone t inner join personne p on t.id_proprietaire=p.id
	 where id_proprietaire=@id_personne
	order by numero asc
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_utilisateur]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select one utilisateur
create procedure [dbo].[sp_select_utilisateur]
	@id int
as
begin
	select id,nom_user,mot_de_passe from utilisateur 
	where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[sp_select_utilisateurs]    Script Date: 28/04/2025 18:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Select all utilisateur
create procedure [dbo].[sp_select_utilisateurs]
as
begin 
	select id,nom_user,mot_de_passe from utilisateur order by id asc
end

GO
